h1{
    text-align:center;
}
/* #b{
    color: red;
} */
#a{
    color: rgb(15, 19, 238);
}
/*#c{
    float: right;
    display: inline-block;
    width: 250px;
    height: 250px;
    border:  solid 3px rgb(27, 29, 25);
border-radius :15px 

}
#d{
    float: right;
    display: inline-block;
    width: 250px;
    height: 25px;
    border:  solid 3px rgb(27, 29, 25);
border-radius :15px }*/